img {
  width: 50vh;
  border-radius: 1rem;
  transition-duration: 0.18s;
}

img:hover {
  width: 51vh;
  box-shadow: 0px 4px 0.4rem 0.4rem rgb(187, 187, 187);
  cursor: pointer;
}

:host {
  font-size: 2rem;
  font-weight: bold;
}
